@charset "utf-8";
/* CSS Document */

* {
	font-family: 'Roboto', 'Arial', sans-serif;
}

html {
  font-size: 0.75rem;
}


/* Tooltip */
.tooltip > .tooltip-inner {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1px;
    font-size: 11px;
    align:left;
}
 /* Tooltip on top */
.toggle-img + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}
 /* Tooltip on bottom */
.toggle-img + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}
 /* Tooltip on left */
.toggle-img + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}
 /* Tooltip on right */
.tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}

.search-input {
	font-size:0.8em;
}

.autocomplete-wrap {
	background-color:#fff;
	box-sizing:border-box;
	border:1px solid #ddd;
	position:absolute;
	width:100%;
	min-height:38px;
	line-height: 0.5;
	/*top:39px;
*/
}

.autocomplete-wrap > .autocomplete-select {
	margin:0;
	border:0;
	width:100%;
	outline:none;
	box-sizing:border-box;
	font-size:0.7em;
}

.autocomplete-wrap > .autocomplete-select option {
	padding:6px 12px;
}

.autocomplete-wrap > .autocomplete-select option:hover {
	background-color:#cef;
}

.autocomplete-wrap > .autocomplete-select option:checked {
	background-color:#cef;
	font-weight:bold;
}

.autocomplete-wrap > .autocomplete-select option:not(:last-child) {
	border-bottom:1px solid #ddd;
}

.link-button { 
     background: none;
     border: none;
     color: #007bff;
     text-decoration: none;
     cursor: pointer; 
}

.selected-logo img {
	max-width:150px;
}

.redirect-from-to-wrap .logo {
	max-width:150px;
	height:80px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}

.redirect-from-to-wrap .logo img {
	max-width:150px;
}

.redirect-from-to-wrap .middle {
	height:80px;
}

.redirect-from-to-wrap .middle p {
	line-height:80px;
}

.warning-msg {
	background-color:#ff6;
	border:1px solid #FC3 !important;
}

.terms-wrap {
	max-height:300px;
	text-align:left;
	font-size:0.66em;
	overflow:auto;
}

.access-logo {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}

.login-idp .login-logo img {
	max-height:150px;
}

#Instituicao {
        margin-bottom: 0.3rem;
}

#TermosUso {
        margin-top: 0.3rem;
}

#PoweredBy {
	color: rgb(175, 175, 175);
}

#IdPNotExistent {
    margin-top: 23px;
}

#show-more + div > .label-more {
	display:block;
}

#show-more:checked + div > .label-more,
#show-more:not(:checked) + div > .label-less {
	display:none;
}

#show-more:not(:checked) + div > .label-more,
#show-more:checked + div > .label-less {
	display:block;
}

.user-info {
	overflow:hidden;
}

#show-more:not(:checked) + div > .user-info {
	max-height:100px;
}

#show-more:checked + div > .user-info {
	max-height:none;
}


#footer-signature {
	background-image:url(../images/footer_m.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size:contain;
	height:196px;
}

@media (min-width:768px) {
html {
  font-size: 0.85rem;
}

#footer-signature {
	background-image:url(../images/footer_d.png);
	background-position: center center;
	background-repeat: no-repeat;
	height:71px;
}
}

@media (min-width:992px) {
html {
  font-size: 1rem;
}
}

@media (min-width:1200px) {
}


@media (min-height:600px) {
.login-wayf footer{
	position:absolute;
	bottom:0;
	width:100%;
}

.login-wayf-selected footer{
	position:static;
	bottom:auto;
	width:100%;
}
}

@media (min-height:800px) {
.login-wayf-terms footer,
.login-wayf-selected footer{
	position:absolute;
	bottom:0;
	width:100%;
}
}



/* Utils */
@keyframes loading-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

.progress-bar {
    background-color: #ccc;
    height: 12px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.35) inset;
}

.stripes {
    background-size: 30px 30px;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .15) 50%,
        rgba(255, 255, 255, .15) 75%,
        transparent 75%,
        transparent
    );
}

.stripes.animated {
  animation: loading-stripes 1.2s linear infinite;
}