##
## Velocity template to write to local storage.
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## saveContext - context with details about the storage data to save
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
#set ($title = $springMacroRequestContext.getMessage("idp.title", "Web Login Service"))
#set ($titleSuffix = $springMacroRequestContext.getMessage("idp.client-storage-write.suffix", "Salvando sessão"))
##
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8" />
        <title>$title - $titleSuffix</title>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
        <script>
        <!--
        #include( "client-storage/local-storage-write.js" )
        // -->
        </script>
    </head>
    <body class="bg-light login-idp" onload="doSave()">
	<div class="bg-light">
	  <div class="container text-center py-5">
	    <div class="container rounded border p-5 bg-white shadow text-center text-muted col-lg-6">
		<p>$springMacroRequestContext.getMessage("idp.client-storage-write.text", "Saving login session information to the browser...")</p>  
		<noscript>
                    <p>
                    $springMacroRequestContext.getMessage("idp.client-storage.no-js", "Since your browser does not support JavaScript, you must press the Continue button once to proceed.")
                   </p>
		 </noscript>
                #parse( "client-storage/write.vm" )
	    </div>
	  </div>
	</div>
    </body>
</html>

